/build
/config
/public
/test
/example
npm-debug.log
/tool
/doc
/dist
.nyc_output
node_modules
.DS_Store
node_modules
*.log
*.node
*.orig
.*
test
format
coverage
out
output
appveyor.yml
src
gulpfile.js
package-lock.json
uploads
*.hot-update.json
*.hot-update.js